@model IEnumerable<BTRS.Models.Trip>

@{
    ViewData["Title"] = "bookingList";
}

<h2>Booking List</h2>
@Html.ActionLink("Back to Trip", "TripList", "Passengers")

<table class="table">
    <thead>

        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.TripId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.TripId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusNumber)
            </td>
            <td>
                    <a class="btn btn-danger" asp-action="cancel" asp-route-id="@item.TripId">cancel</a>
            </td>
        </tr>
}
    </tbody>
</table>
