@model IEnumerable<BTRS.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Trip</h1>

<p>
    <a asp-action="Create">Create Trip</a> 
    <a asp-action="Create" asp-controller="Bus">New Bus</a>
</p>

<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.TripId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.TripId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TripId }) |
                @Html.ActionLink("Details", "Details", new { id=item.TripId  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TripId  })
            </td>
        </tr>
}
    </tbody>
</table>
